.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
a{
    text-decoration: none;
}

  /* header */
header{
}
.top-header{
    background-color:#f5f5f5;
    border-top:3px solid #09a6b2;
}
.login{
    margin-right: 35px;
}
.log{
    text-decoration: none;
    color:#09a6b2;
}
.header-link{
    margin: 0 10px;
    color:#7f7d74;
    transition: color 1.5s ease;
}
.header-link:hover{
    color: #09a6b2;
}
.drop{
    margin:50px 5px 0px 0px;
}
.top-f-item{
    background:#f5f5f5;
    border-radius: 0;
    transition: background 1.5s ease;
}
.top-m-d{
    padding: 0;
    margin: 0;
}
.top-f-item:hover{
    background: #09a6b2;
}
.nav-l{
    line-height: 3;
}
.top-nav-i{
    margin: 0 15px;
}

.top-inner{
    margin: 0 50px;
}
.search-d{
    color:#7f7d74;
    background-color: #f5f5f5;
    border-radius:0;
    transition: background 1.5s ease;
    transition:color 1.5s ease;
}
.search-p{
    padding-bottom: 5px;
}
.search-d:hover{
    background:#09a6b2;
    color: white;
}
/* main */
.hero-1{

}
.arrow-co{
    padding-top: 7px;
}
.arrow{
    border: 1px solid #d6d6d6;
    height: 35px;
    width: 55px;
    line-height: 0;
    background:#f5f5f5;
    color: #ccc
}
h1{
    display:flex;
    flex-direction:row;
    border-left: 5px solid #09a6b2;
    padding-right:10px;
}
h1::after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid lightgray;
    margin: auto;   
}
main section{
    padding: 25px 0;
}
.section6{
    padding-bottom: 45px;
}
.logo-r{
    padding: 50px 0;
}
/* footer */
footer{
    background:#444b4c;
}
footer a{
    color:#ccc;
}
footer span{
    font-size: 25px;
    color: white;       
}
.liststuf{
    position:absolute;
    left:0;
}
.stuf{
    list-style-type: square;
}
.liststuf, .stuf::before{
    color:#09a6b2;
}
.top-footer{
    background:#d6d6d6;
    padding: 27px 0;
}
.signup{
    width: 530px;
}
.email{
    background:#d6d6d6;
    border: 2px solid yellow;
    border-radius: 5px;
    height: 45px;
    width: 200px;
}
.main-footer{
    color:#ccc;
    padding-top: 20px;
    padding-bottom: 50px;
}
.colophon{
    color:#ccc;
    padding: 20px 0;
}
.social-box{
    margin: 0 5px;
    background:#626664; 
    color:#ccc;
}


/* media */

@media(min-width: 768px){
    .colophon{
        font-size: 12px;
    }
    .social-box{
        width: 45px;
        height: 45px;
    }
    .colo{
        line-height: 4;
        text-align: end;
    }
}

@media(max-width: 576px){
    .logo{
        margin-left: 95px;
    }
    .top-nav-i{
        margin: 0 5px;
    }
    .top-nav-p{
        font-size: 10px;
    }
    .main-footer span{
        font-size: 15px;
    }
    .main-footer{
        font-size: 12px;
    }
    .colo{
        line-height: 2;
        font-size: 10px;
    }
}